<h1>Welcome to {{brewery.name}}'s beer</h1>

    {{#each brewery.beers}}
<div>
    <ul>
        <li>Name: {{this.name}}</li>
        <li>ABV: {{this.abv}} %</li>
        <li>IBUS: {{this.ibus}}</li>
        <li>Description: {{this.description}}</li>
        <li>Tasting Notes: {{this.tastingNotes}}</li>
    </ul>
</div>
    {{/each}}

<div>
    <a href="/breweries/{{brewery._id}}/beers/new">Add a New Brew!</a>
</div>