<h1>Welcome to {{brewery.name}}'s beer</h1>

    {{#each brewery.beers}}
<div>
    
        <div>
            Name: {{this.name}}
        </div>

        <div>
        <a href="/breweries/{{../brewery._id}}/beers/{{this._id}}">Check It Out</a>
         </div>
</div>
    {{/each}}
    <hr>
<div>
    <a href="/breweries/{{brewery._id}}/beers/new">Add a New Brew!</a>
</div>
<div>
    <a href="/breweries">Breweries Galore!</a>
</div>
