<h1>{{brewery.name}}'s {{beer.name}}</h1>
<div>
    <div>
    <ul>
        <li>ABV: {{beer.abv}} %</li>
        <li>IBUS: {{beer.ibus}}</li>
        <li>Description: {{beer.description}}</li>
        <li>Tasting Notes: {{beer.tastingNotes}}</li>
    </ul>
</div>



<ul class="bmenu">
	<li><a href="/breweries/{{breweryId}}/beers">More Beer</a></li>
	<li><a href="/breweries/{{breweryId}}/beers/{{beer._id}}/edit">Edit {{beer.name}}</a></li>
	<li><a href="/breweries/{{breweryId}}/beers/{{beer._id}}/delete">Delete {{beer.name}}</a></li>
</ul>
</div>