<div>

    <h1>These people love beer!</h1>

    <h2>USERS</h2>


    {{#each users}}
        <div>
            Name: {{this.name}} - Age: {{this.age}} - Lives in: {{this.city}}
        </div>
        <div>
            <a href="/users/{{this._id}}">{{this.name}}'s Info</a>
        </div>
    {{/each}}

    <div>
        Don't See Your Name??? No worries add yourself!
        <a href="/users/new">Make Me Known!</a>
    </div>
    <div>
        <a href="/breweries">Take me to the Breweries!!!</a>
    </div>
</div>