<h1>This {{user.name}} loves to drink the beer</h1>

    <div>
        Age: {{user.age}}
    </div>
    <div>
        Currently Lives In: {{user.city}}
    </div>
    <div>
        <a href="/users">Let me see everyone else!</a>
    </div>
    <div>
        <a href="/users/{{user._id}}/delete">{{user.name}} wants back on the wagon</a>
    </div>